<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2>Alguns erros impediram esta pessoa de ser salva:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :student %>
    <%= form.check_box :student %>
  </div>

  <div class="field">
    <%= form.label :birth %>
    <%= form.date_select :birth %>
  </div>

  <ul>
    <%= form.fields_for :potatoes do |potato_form| %>
      <li>
        <div class="field">
          <%= potato_form.label :content %>
          <%= potato_form.text_field :content %>
        </div>

        <div class="field">
          <%= potato_form.label :happy %>
          <%= potato_form.check_box :happy %>
        </div>

        <div class="field">
          <%= potato_form.label :_destroy, "Excluir?" %>
          <%= potato_form.check_box :_destroy %>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
