<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @person.age %>
</p>

<p>
  <strong>Estudante:</strong>
  <%= t @person.student %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= l @person.birth %>
</p>

<ul>
  <% @person.potatoes.each do |potato| %>
    <li>
      <p><%= potato.content %></p>
      <p><%= potato_happy_text(potato) %></p>
    </li>
  <% end %>
</ul>

<%= link_to 'Editar', edit_person_path(@person) %> |
<%= link_to 'Voltar', people_path %>
